<%= form_for([@article, @article.tags.build]) do |f| %>

    <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

    <h2>
      <%= f.label 'Tags!' %><br />
      <%= f.text_field :tag_tokens %>
    </h2>

    <p>
    <%= f.submit %>
  </p>
<% end %>